{% extends 'index.html' %}

{% block content %}

    <section class="infoA">
        <div class="container container--pall">
            <div class="infoA__intro">
    
                <h1>
                    We solve these problems
                </h1>
    
                <h2>
                    Did you ever ask yourself “WHY” you are doing something?
                </h2>
    
            </div>
    
            <div class="infoA__box">
                <div class="infoA__box1">
                    <div class="infoA__text">
                        <h2>
                            🥲 Life Without Values
                        </h2>
        
                        <p>
                            - Students live a blind life wihout pursuing their own set of values
                            <br><br>
                            - Students dedicate their time and energy in various activities without 
                            <br>the question “why”
                            <br>
                            : Why are you doing things that you are doing? How does that relate to your values?
                        </p>
                    </div>
                </div>

                <div class="infoA__gap"></div>

                <div class="infoA__box2">
                    <div class="infoA__text">
                        <h2>
                            🧐 Blind Life
                        </h2>
        
                        <p>
                            - Students believe getting good grades and going to good university will solve all problems and make them successful
                            <br><br>
                            - Easily lured by manipulations and temptations from media, lacking personal belief and boldness
                            <br>(Ex. Life manipulated by university consultant)
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="infoB container container--pall">
        <h1>
            Our Mission
        </h1>

        <h2>
            🏝 To provide opportunities for students to explore the world outside their zone and escape from blind life
        </h2>

        <p>
            How?
            <br>
            - Through connecting internship opportunities for field experiences and providing contents regarding people's values 
        </p>
    </section>

    <section class="infoC">
        <div class="container container--pall">
            <h1>
                We expect these effects
            </h1>

            <div class="infoC__box">
                <div class="infoC__boxText">
                    <h2>
                        👨🏻‍🎓 Students
                    </h2>

                    <p>
                        - Escape from the blind life by finding own values to pursue with experiences and insights
                        <br>
                        - Be able to control one's own life regardless of external manipulations and temptations 
                        <br>
                        - To have definite reasons and answers for “why” for every decisions
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}