{% extends 'index.html' %}

{% block content %}

<section class="comp">
    <div class="container container--pall flex flex-col">

        <div class="flex flex-jc-sb flex-ai-c">
            <h1>
                TALENTED Service Internship
            </h1>

            <h2>
                Application deadline: 2023.04.15
            </h2>
        </div>

        <p>
            VWX Online Internship
            <br><br>
            # Design
            <br><br>
            VWX is an entertainment tech company that operates a service titled “Talented”; it is a platform in which models and actors connect to directors and people related to the entertainment industry for casting. VWX seeks to revolutionize the entertainment industry from in-person to online based.
        </p>

        <h2>
            Main Tasks
        </h2>
        <p>
            - Curation Card Design and Copywriting
            <br>
            - Contents Creation
        </p>

        <h2>
            Required Skills
        </h2>
        <p>
            - Designing Ability
            - Creative Writing
        </p>

        <h2>
            Internship Period
        </h2>
        <p>
            To Be Decided
            <br>
            - Work from anywhere, any time
        </p>

        {% if user.is_authenticated %}
            <a href="https://walla.my/hirevwxinternship" target="_blank" class="button">Apply for It!</a>
        {% else %}
            <a href="/login" class="button">Apply for It!</a>
        {% endif %}

    </div>

</section>

{% endblock %}