{% extends 'index.html' %}

{% block content %}

<section class="comp">
    <img src="/static/images/wadiz.png" alt="wadiz">

    <div class="container container--pall flex flex-col">

        <div class="flex flex-jc-sb flex-ai-c">
            <h1>
                Wadiz Internship
            </h1>

            <h2>
                Application deadline: 2022.05.01
            </h2>
        </div>

        <p>
            Wadiz Seongsu
            <br><br>
            # Planning # Project Planning
            <br><br>
            Google is an American multinational technology company that specializes in Internet-related services and products, which include a search engine, online advertising technologies, cloud computing, software, and hardware. Google’s parent company Alphabet Inc. is considered one of the Big Five American information technology companies, alongside Amazon, Apple, Meta and Microsoft.
        </p>

        <h2>
            Main Tasks
        </h2>
        <p>
            - Design the UI of Google Drive
            <br>
            - Design the UI of Gmail
        </p>

        <h2>
            Required Skills
        </h2>
        <p>
            - UI design ability using tools(Adobe XD, Sketch…etc)
        </p>

        <h2>
            Internship Period
        </h2>
        <p>
            2022.06.25 ~ 2022.07.15(20 days)
            <br>
            - 10:00 am ~ 4:00 pm
            <br>
            - Meals provided
        </p>

        <h2>
            Location
        </h2>
        <h1> MAP </h1>

        <a href="/opportunity" class="button">Apply for It!</a>

    </div>

</section>

{% endblock %}