{% extends 'index.html' %}

{% block content %}

    <section class="compInfo">
        <h1 class="container container--pall">
            Upcoming Opportunities
        </h1>

        <div class="compInfo__categories container container--pall">

            <a href="/opportunity" class="button" >All</a>
            <a class="button" href="exclusive">Hire Exclusive</a>
            <a class="button" href="university" style="color: #2BD0D1; border-color: #2BD0D1">University Programs</a>

        </div>

        <div class="compInfo__box container container--pall">
            <a href="https://summer.uchicago.edu/pre-college-students" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_chicago.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Chicago Pre-College
                    </h2>
    
                    <p>
                        Application Deadline: 2022.04.06
                    </p>
                </div>
            </a>
            

            <a href="https://precollege.berkeley.edu/virtual" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_berkeley.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Berkeley Pre-College
                    </h2>
    
                    <p>
                        Application Deadline: 2022.06.05
                    </p>
                </div>
            </a>
        </div>

        <div class="compInfo__box container container--pall">
            <a href="https://summer.ucla.edu/student-types/high-school-students/" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_ucla.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        UCLA Summer Sessions
                    </h2>
    
                    <p>
                        Application Open: 2023.02.15
                    </p>
                </div>
            </a>

            <a href="https://precollege.usc.edu/summer-programs/admission-tuition-fees/" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_usc.webp');"></div>

                <div class="compInfo__text">
                    <h2>
                        USC Pre-College
                    </h2>
    
                    <p>
                        Application Deadline: 2023.03.31
                    </p>
                </div>
            </a>
        </div>

        <div class="compInfo__box container container--pall">
            <a href="https://summer.yale.edu/apply/pre-college-students" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_yale.png');"></div>

                <div class="compInfo__text">
                    <h2>
                        Yale Summer Sessions
                    </h2>
    
                    <p>
                        Application Open: 2023.05.03
                    </p>
                </div>
            </a>

            <a href="https://summer.georgetown.edu/programs/SHS04/summer-college" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_georgetown.jpeg ');"></div>

                <div class="compInfo__text">
                    <h2>
                        Georgetown Summer College
                    </h2>
    
                    <p>
                        Application Deadline: 2023.05.15
                    </p>
                </div>
            </a>
        </div>
        
        <div class="compInfo__box container container--pall">
            <a href="http://precollege.emory.edu/" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_emory.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Emory Pre-College
                    </h2>
    
                    <p>
                        Application Open: 2023.06.2 or 2023.06.16
                    </p>
                </div>
            </a>

            <a href="https://sps.northwestern.edu/college-preparation/index.php" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_nwestern.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Northwestern Summer College
                    </h2>
    
                    <p>
                        Application Deadline: 2023.04.03
                    </p>
                </div>
            </a>
        </div>

        <div class="compInfo__box container container--pall">
            <a href="https://sce.cornell.edu/precollege" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_cornell.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Cornell Pre-College
                    </h2>
    
                    <p>
                        Application Open: 2023.05.7
                    </p>
                </div>
            </a>

            <a href="https://summer.harvard.edu/high-school-programs/pre-college-program/" target="_blank" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/op_harvard.webp');"></div>

                <div class="compInfo__text">
                    <h2>
                        Harvard Pre-College
                    </h2>
    
                    <p>
                        Application Deadline: 2023.04.26
                    </p>
                </div>
            </a>
        </div>
        
    </section>

{% endblock %}