{% extends 'index.html' %}

{% block content %}

    <section class="compInfo">
        <h1 class="container container--pall">
            Upcoming Opportunities
        </h1>

        <div class="compInfo__categories container container--pall">

            <a href="/opportunity" class="button">All</a>
            <a class="button" href="exclusive" style="color: #2BD0D1; border-color: #2BD0D1">Hire Exclusive</a>
            <a class="button" href="university">University Programs</a>

        </div>

        <div class="compInfo__msg container container--pall">
            <h1><strong>GREAT THINGS COMING SOON.</strong></h1>

            <hr>

            <p>
                HIRE Exclusive: Wide range of opportunities only through HIRE
            </p>


        </div>

        <!-- <div class="compInfo__box container container--pall">
            <a href="company1" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/wadiz.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Wadiz Internship Application
                    </h2>
    
                    <p>
                        Application Deadline: 2022.05.01
                        <br>
                        Status: Completed
                    </p>
                </div>
            </a> -->

            <!-- <a href="#" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/wadiz.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Wadiz Internship Application
                    </h2>
    
                    <p>
                        Application Deadline: 2022.05.01
                        <br>
                        Status: Completed
                    </p>
                </div>
            </a> -->
        </div>

        <!-- <div class="compInfo__box container container--pall">
            <a href="company1" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/wadiz.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Wadiz Internship Application
                    </h2>
    
                    <p>
                        Application Deadline: 2022.05.01
                        <br>
                        Status: Completed
                    </p>
                </div>
            </a>

            <a href="#" class="compInfo__comp">

                <div class="compInfo__image" style="background-image: url('/static/images/wadiz.jpeg');"></div>

                <div class="compInfo__text">
                    <h2>
                        Wadiz Internship Application
                    </h2>
    
                    <p>
                        Application Deadline: 2022.05.01
                        <br>
                        Status: Completed
                    </p>
                </div>
            </a>
        </div>
         -->
    </section>

{% endblock %}