{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/svg" sizes="32x32" href="{% static '/images/site-logo.svg' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap" rel="stylesheet">

    <link href="{% sass_src './scss/scss/style.scss' %}" rel="stylesheet" type="text/css" />

    <title>HIRE</title>
</head>
<body>
    
    <header class="header">   
        <div class="overlay has-fade hide-for-desktop"></div>

        <nav class="container container--pall flex flex-jc-sb flex-ai-c">
            <a href="/" class="header__logo">
                <img src="{% static '/images/logo.svg' %}" alt="hire">
            </a>

            <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                <span></span>
                <span></span>
                <span></span>
            </a>

            <div class="header__links hide-for-mobile">
                <a href="/about">About Us</a>
                <a href="/opportunity">Opportunities</a>
                <a href="/profile">Profile</a>
            </div>

            {% if user.is_authenticated %}
                <div class="header flex flex-ai-c">
                    <a href="/logout" class="button hide-for-mobile">Logout</a>
                </div>
            {% else %}
                <a href="/login" class="button hide-for-mobile">Sign In</a>
            {% endif %}

        </nav>

        <div class="header__menu has-fade hide-for-desktop">
            <a href="/about">About Us</a>
            <a href="/opportunity">Opportunities</a>
            <a href="/profile">Profile</a>
        </div>

    </header>

    {% block content %}
    {% endblock %}

    <footer class="footer">
        <div class="container">

            <a href="/" class="footer__logo">
                <img src="/static/images/logo-dark.svg">
            </a>

            <div class="footer__social">
                <a href="https://www.instagram.com/hire_064/" target="_balnk" rel="noopener noreferrer">
                    <img src="/static/images/icon-instagram.svg" alt="instagram">
                </a>
            
            </div>

            <div class="footer__links">
                <a href="/about">About Us</a>
                <a href="/opportunity">Opportunities</a>
                <a href="/profile">Profile</a>
            </div>

            {% if user.is_authenticated %}
                <div class="footer__cta">
                    <a href="/logout" class="button">Logout</a>
                </div>
            {% else %}
                <div class="footer__cta">
                    <a href="/login" class="button">Sign In</a>
                </div>
            {% endif %}

            <div class="footer__copyright">
                &copy; Hire. All Rights Reserved
            </div>
        </div>

    </footer>

    <script src="{% static 'script.js' %}"></script>
</body>
</html>